:root {
    --primary-color: #A3E635;
    /* --background:#FEFCE8; */
}

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pagewrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    font-size: larger;
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 2rem;
    width: 100%;
    text-align: center;
}
h1 {
    /* color: var(--primary-color); */
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

main{
    flex-grow: 1;
    text-align: center;
}
.paragraph {
    font-size: larger;
    margin: 1rem;
}

.labelfor {
    display: block;
    font-size: large;
    font-weight: 600;
}

.input {
    font-size: 14px;
    /* outline: rgb(168, 23, 23); */
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 80%;
    max-width: 258px;
    text-align: center;
}

.btn {
    border: none;
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: larger;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: large;
}

#error-msg {
    font-weight: bold;
    font-size: large;
    padding: 1rem;
}

.tableStyle {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}

table,
td,
th,
tr {
    border: 1px solid var(--primary-color);
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    font-size: large;
}

caption {
    display: table-caption;
    font-size: larger;
    padding: 1rem;
}
footer{
    padding: 2rem;
    font-size: medium;
    background-color: var(--primary-color);
    padding: 2rem;
    width: 100%;
    text-align: center;
    bottom: 0;
}